nav ul{
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-style: solid;
    background-color: black;
    font-size: larger;
    width:150px;
    border-color: darkred;
}
#red{
    color: darkred;
}
.gamecontainer{
    display: flex;
    justify-content: center;
}
.line{
    background-color: black;
    height: 4px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.box{
    border: 2px solid lightblue;
    font-size: 8vw;
    font-family: 'Cute Font', cursive;
    color: lightslategrey;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.box:hover{
    color: darkred;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('neon.jpg');
}
.gameInfo{
    padding: auto;
    font-family: monospace;
    color: white;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.box.br-0{
    border-right: 0;
}
.box.bt-0{
    border-top: 0;
}
.box.bl-0{
    border-left: 0;
}
.box.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    width: 80px;
    height: 30px;
    font-family:'Cute Font', cursive ;
    padding: 1px 18px;
    color: whitesmoke;
    background-color: darkmagenta;
    border-color: hotpink;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;
}
.info{
    font-size: 20px;
}
#tik{
    font-size: 35px;
}
@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}